/* 대시보드 > 콘텐츠 페이지 css*/

/* 공통 */
.card{padding: 20px; background: #fff; border-radius: 6px;}
.card h5{font-size: 15px; margin-bottom: 12px; font-family: 'Isamanru'; color:#3B4662; font-weight: 300;}
.sub-title{font-size: 17px; margin-bottom: 14px;}

.search-bar{padding: 20px; padding: 6px 12px; background: #fff; display: flex; align-items: center; gap: 10px;
border-radius: 6px; margin-bottom: 20px;}
.search-bar > div{flex: 1;}
.search-bar label{color: #666; font-size: 12px; margin-right: 4px;}
.search-bar input[type="date"]{padding: 12px; width: calc(100% - 40px); border: 1px solid #ddd; font-size: 12px;
  font-family: 'Open Sans'; border-radius: 6px;
}
.search-bar input[type="date"]::-webkit-calendar-picker-indicator,
.search-bar input[type="date"]::-webkit-inner-spin-button {
  width: 16px; height: 16px;
  background: url(/images/dashboard/ico-calendar.svg) no-repeat center / cover} 
.search-bar .btn-box{display: flex; gap: 2px; width: unset; flex: unset;}
.search-bar .btn{padding: 10px;}

.no-data{font-size: 15px; color: #666;}

/*테이블 공통*/
.common-table{width: 100%; text-align: left; font-size: 13px;}
.common-table tr th{color: #3B4662;}
.common-table tr th, .common-table tr td{padding: 12px; border-bottom: 1px solid #e4e4e4;}
.common-table button{padding: 4px 6px; border-radius: 4px; }
.common-table .btn-box{width: 150px;}
.common-table .edit-btn{color: #0F65C7; border: 1px solid #0F65C7; margin-left: 2px;}
.common-table .del-btn{color: #E2523F; border: 1px solid #E2523F; margin-left: 2px;}
.common-table .income > span{color:#E2523F; background: #F9EBE9; padding: 4px; border-radius: 4px;}
.common-table .expense > span{color:#0F65C7; background: #E9F5FF; padding: 4px; border-radius: 4px;}

.pagination{gap:6px; text-align: center; margin-top: 20px;}
.page-item{}
.page-item.active .page-link{background:var(--main-color);color:#fff;border-color:var(--main-color)}
.page-link{border-radius:8px;padding:6px 12px;color:#555;border:1px solid #ddd;background:#fff}
.page-link:hover{background:#f2f2f2;color:#000}
.page-link:focus{box-shadow:none}

/* 대시보드 */
.period-wrap{display: flex; gap: 4px; margin-bottom: 12px; justify-content: space-between;}
.period-wrap > div{display: flex; gap: 6px; }
.period-wrap button{padding: 8px; font-size: 14px;  border: 1px solid var(--blue-color); background: #fff; color: var(--blue-color);
border-radius: 4px; cursor: pointer;}
.period-wrap button.on{background-color: var(--blue-color); color: #fff; border: 1px solid var(--blue-color);}
.week{display: flex; align-items: start; margin-top: 20px;}
.week button{flex: 1; background-color: #fff; border: none; cursor: pointer;}
.week button .day{font-size: 14px; color: #3B4662; margin-bottom: 4px;}
.week button .number{font-size: 13px; padding:8px; display: inline-block;border-radius: 20px; }
.week button.selected .number{background: #B59CE9; }
.week button span{display: block; font-size: 12px; font-family: 'Open Sans'; margin-top: 1px;}
.week button span.income{color: var(--blue-color);}
.week button span.expense{color: #E2523F;}

.total-box{display: flex; gap: 30px; margin:20px 0;}
.total-box > div{width: calc((100% - 30px) / 2); background: #fff;}
.total-box > div > span{font-size: 14px; color: #3B4662; font-family: 'Isamanru'; font-weight: 500;}
.total-box > div > p{font-size: 17px; text-align: right;}

.date-navi{display: flex; align-items:center; justify-content: space-between;}
.date-navi h2{font-size: 22px; font-family: 'Isamanru'; font-weight: 300;}
.date-navi button{background: transparent; border: none; outline: none; cursor: pointer;}

.category-list{display: flex; gap: 30px;}
.category-list .category-item{flex: 1; position: relative;}
.category-list .category-item strong{font-size: 22px;}
.category-list .category-item span{display: flex; width: 60px; height: 60px; background: #e3f9ff; border-radius: 50%;
align-items: center; justify-content: center; position: absolute; top: 10px; right: 10px;}
.category-list .category-item img{max-width: 24px;}

.graph-box{display: flex; gap: 30px;}
.graph-box > div{flex: 1;}